# 파이썬 공부 첫날

In [4]:
print("안녕하세요.")

안녕하세요.

In [3]:
print("ㅎㅇ")

ㅎㅇ

In [6]:
a = int(input("정수: "))
b = int(input("정수: "))
print("몫:", a//b, "나머지:", a%b)

몫: 1 나머지: 2

In [9]:

r = int(input("반지름: "))
print("원의 넓이:", r*r*math.pi)

원의 넓이: 78.53981633974483

In [12]:
a = int(input("성적1: "))

c = int(input("성적3: "))
sum = a+b+c
print("총점:", sum, "평균:", sum/3)

총점: 50 평균: 16.666666666666668

In [14]:
cm = int(input("센티미터 단위의 길이: "))
m = cm//100
cm = cm%100
print(m, "미터", cm, "센티미터")

1 미터 76 센티미터

In [15]:
s = int(input("초 단위의 시간: "))
h = s//3600
s = s%3600
m = s//60
s = s%60
print(h, "시간", m, "분", s, "초")

2 시간 0 분 0 초

In [33]:
a =  int(input("정수"))
b =  int(input("정수"))
c=  int(input("정수"))
if  a > b:
    if  a   >   c:  
       print("제일큰값",a)
    else:
        print("제일큰값",c)
else:

    if     b    >   c:
        print("가장 큰 수 :", b)
    else:
        print("가장 큰 수 :", c)

가장 큰 수 : 3

In [ ]:
a = int(input("정수: "))
b = int(input("정수: "))
c = int(input("정수: "))

if a > b:
    if a > c:
        print("가장 큰 수:", a)  # 들여쓰기 수정
    else:
        print("가장 큰 수:", c)  # `else` 구문 수정
else:
    if b > c:
        print("가장 큰 수:", b)  # 들여쓰기 수정
    else:
        print("가장 큰 수:", c)  # `else` 구문 수정

In [38]:
charge=5000
age=int(input("나이"))
if  age <   8:
    print("무료입니다.")
elif    age <   60:
    print("정가", charge)
else:   
    print("반값입니다.", charge*0.5,"원")

반값입니다. 2500.0 원

In [40]:
a=int(input())

if  a%3==0 and a%5==0:
    print("3과5의 배수")
else: print("배수가 아니다")

배수가 아니다

In [44]:
for i in range(1, 51, 1):
 print("*", end="")

**************************************************

In [50]:
count   =   1
while   count<=55:
    print("*", end="")
    count=count+1

*******************************************************

In [55]:
for i in range(1,5,1):
    print("*", end="")

****

In [67]:
for i in range(1,3,1):
   for  j   in  range(1,3,1):
    print(i,j,end="")

1 11 22 12 2

In [73]:
i=5
while i<=15:
    print(i)
    i=i+1

5
6
7
8
9
10
11
12
13
14
15

In [72]:
for i in range(5,16,1):
    print(i, end=" ")

5 6 7 8 9 10 11 12 13 14 15

In [78]:
for i in range(11,0,-1):     
    print(i, end=" ")

11 10 9 8 7 6 5 4 3 2 1

In [81]:
i=10
while   i>=2:
    print(i, end=" ")
    i=i-1

10 9 8 7 6 5 4 3 2

In [85]:
sum=0
for i in range(1,101):
    sum = sum+i
    print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [93]:
total = 0  # 합계를 저장할 변수

for i in range(1, 101):
    total = total+i  # 누적 합 계산

print(total)  # 반복문이 끝난 후 최종 값 출력

5050

In [ ]:



total = 0
for i in range(1, 101):
    total = total+i
    print(total)

5050

In [107]:
sum=0
n= int(input(""))
for i in range(1, n):
    sum = sum+i
print(sum)

10

In [113]:
sum = 0
for i   in  range(3, 101, 3):
    sum = sum+i
print(sum)

1683

In [114]:
total = 0  # 3의 배수의 합을 저장할 변수

for i in range(1, 101):  # 1부터 100까지 반복
    if i % 3 == 0:  # 3의 배수인지 확인
        total += i  # total = total + i

print("1부터 100까지 3의 배수의 합:", total)

1부터 100까지 3의 배수의 합: 1683

In [116]:
sum = 0
for i   in  range(1, 101, 1):
    if  i%2==0:
        sum=sum+i
print(sum)

2550

In [117]:
sum = 0
for i   in  range(1, 101, 1):
    if  i%3==0:
        sum=sum+i
print(sum)

1683

In [120]:
sum=0

for i   in  range(1, 101):
    if  i%2==0:
        sum=sum-i
    else:   sum = sum+i
print(sum)

-50

In [121]:
sum=0

for i   in  range(1, 101):
    if  i%3==0:
        sum=sum-i
    else:   sum = sum+i
print(sum)

1684

In [125]:
total = 0  # 합을 저장할 변수

for i in range(1, 101):  # 1부터 100까지 반복
    if i % 3 == 0:  # 3의 배수이면 음수로 변환하여 더하기
        total += -i  # 음수로 변환하여 더함
    else:
        total += i  # 그대로 더함

print("1, 2, -3, 4, 5, -6, ..., -99, 100의 합:", total)

1, 2, -3, 4, 5, -6, ..., -99, 100의 합: 1684

In [128]:
fact=1
for i   in  range(5, 2, -1):
    fact=fact*i
print(fact)

60

In [129]:
 import math
 print(math.factorial(5))

120

In [144]:
n=int(input("정수: "))
count=0
for i   in  range(1, n+1):
    if    n%i==0:
        print(i, end=" ")
        count =count+1
print( "약수의갯수" , count)

1 2 약수의갯수 2

In [149]:
n1=int(input("정수"))
n2=int(input("정수"))
for i   in  range(1, n2+1):
        if  n1%i==0  and    n2%i==0:
                print(i, end=" ")

1 3 5 15

In [151]:
n1=int(input("정수"))
n2=int(input("정수"))
n3=int(input("정수"))

for i   in  range(1, n1+1,1):
    if n1%i==0 and n2%i==0 and  n3%i==0:
        print(i)

1
2
5
10

In [ ]:
a=1
b=1

for i   in  range(3, 20, 1):

In [154]:
a = 1
b = 1
print(a, b, end=" ")
for i in range(1, 19):
     
    c = a+b             
    print(c, end=" ")
    a = b
    b = c

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

In [ ]:
a=0
b=0
sum=1

print(a,b, end=" ")
for i in range(3,21,1):
    c= a+b
    sum=c+
    print(c, end=" ")
    a=b
    b=c

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711

In [156]:
# 피보나치 수열의 20번째 항까지의 합 구하기
a, b = 0, 1  # 첫 번째, 두 번째 항
total = 1  # 합 (0 + 1)

for i in range(3, 21):  # 3번째 항부터 20번째 항까지 계산
    next_fib = a + b  # 새로운 피보나치 수 계산
    total += next_fib  # 누적 합 갱신
    a, b = b, next_fib  # 값 업데이트

print("피보나치 수열의 20번째 항까지의 합:", total)

피보나치 수열의 20번째 항까지의 합: 10945

In [159]:
a = int(input("정수: "))
m = a
while a!=0:       
    if a>m:
     m = a
    a = int(input("정수: "))
print("최댓값 :", m)

최댓값 : 2412

In [164]:
a = int(input())
min = a

while a!=0:
    if a<min:
        min = a
    a  = int(input()) 
print("최소값은", min, a)

최소값은 1 0

In [166]:
for i in range(1, 6):
    for j   in  range(1, i+1):
            print(j, end= " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [167]:
for i in range(1, 11):
    print(i, "약수:", end=" ")
    for j   in range(1,i+1):
        if  i%j==0 :
            print(j, end=" ")
    print

1 약수: 1 2 약수: 1 2 3 약수: 1 3 4 약수: 1 2 4 5 약수: 1 5 6 약수: 1 2 3 6 7 약수: 1 7 8 약수: 1 2 4 8 9 약수: 1 3 9 10 약수: 1 2 5 10

In [170]:
for i in range(2, 101):
    chk = 1
    for j in range(2, i):
        if i%j==0:
            chk = 0
            break
    if chk==1:
         print(i, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [178]:
for i in range(2,10):
    for j in range(i, 10):
        print(i, "*", j, "=", i*j)
    print()

2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 8 = 64
8 * 9 = 72

9 * 9 = 81

In [180]:
for i in range(2, 101):
    chk=1
    for j in range(2, i):
        if  i%j==0:
            chk=0
            break
    if  chk==1:
        print(i, end="")

2357111317192329313741434753596167717379838997

In [1]:
n=1
sum=0

for i in range(1,6):
    n=n*i
    sum=sum+n
print(sum)

153

In [9]:
##2부터 100까지의 소수 구하기
for i in   range(2,101):
    chk=1 #값이 1이면 소수임
    for j in range(2, i):
        if  i%j==0:
            chk=0
            break
    if chk==1:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [19]:
for i in range(1,11):
    print(i, "약수:")
    for j   in  range(1,i+1):
       if    i%j==0 :
           print(j, end=" ")
    print()

1 약수:
1
2 약수:
1 2
3 약수:
1 3
4 약수:
1 2 4
5 약수:
1 5
6 약수:
1 2 3 6
7 약수:
1 7
8 약수:
1 2 4 8
9 약수:
1 3 9
10 약수:
1 2 5 10

In [47]:
for i   in  range(5,0,-1):
    for j   in  range(i,0,-1 ):
        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [49]:
a=1
b=1
print(a,b, end=" ")
for i in range(3,20):
    c= a+b
    print(c, end=" ")
    
    a =b 
    b =c

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [52]:
chk=1
n=int(input())

for i   in  range(2,n):
   if n%i==0:
    chk=0
    break
if  chk==1:
    print(n,"소수임")
else:
    print(n,"소수아님님")

13 소수임

In [55]:
1+1

2

In [56]:
pip install SRTrain
>>> from SRT import SRT
>>> srt = SRT("010-9303-0734", '비밀번호')

>>> dep = '광주송정'
>>> arr = '수서'
>>> date = '20250428'
>>> time = '053800'
>>> trains = srt.search_train(dep, arr, date, time)
>>> trains

>>> reservation = srt.reserve(trains[1])
>>> reservation

SyntaxError: invalid syntax (392670325.py, line 1)

In [63]:
a=[]

for i in range(1, 11):
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
a =[]
for i in range(10,0,-1):
    a.append(i)
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [72]:
a=[]
for i in range(10,101,10):
    a.append(i)
for i in range(9,0,-1):
    print(a[i])

100
90
80
70
60
50
40
30
20

In [73]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in range(0, 5):     
    temp = a[i]    
    a[i] = a[9-i]
    a[9-i] = temp
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [75]:
a = [1, 2,3,4,5,6,7,8,9,10]
a.reverse()
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [86]:
a=[1,2,3,4,5,6,7,8,9,10]
b=[]
for i in range(0,10,1):
    b.append(a[9-i])
print(b)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [91]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
temp = a[0]
for i in range(0, 9):
    
    a[i] = a[i+1]
a[9] = temp
print(a)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 1]

In [94]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
temp = a[0]
for i in range(0, 9):
    
    a[i] = a[i+1]
a[9] = temp
print(a)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 1]

In [104]:
a= [1,2,3,4,5,6,7,8,9,10]
temp=a[9]
for i in range(8,-1,-1):
    a[i+1]=a[i]
    
a[0] = temp
print(a)
print(temp)

[10, 1, 2, 3, 4, 5, 6, 7, 8, 9]
10

In [106]:
a=[1,2,3,4,5,6,7,8,9,10]
max=a[0]
for i in range(0,10):
    if max < a(i):
        max=a(i)
        print(max)

TypeError: 'list' object is not callable

In [ ]:
import random
a = []
for i in range(10):
    a.append(random.randint(1, 100))
print(a)
m=a[0]
for i in range(1,10):
    if m < a[i]:
        m=a[i]
print(m)

TypeError: 'module' object is not callable. Did you mean: 'random.random(...)'?

In [123]:
import random
a=[]

for i in range(10):
    a.append(random.randint(1,100))
print(a)

m=a[0]
for i in range(1,10):
    if  m > a[i] :
        m=a[i]
print(m)

[40, 99, 25, 69, 91, 23, 74, 76, 78, 75]
23

In [136]:
import random

a = [random.randint(1, 100) for _ in range(10)]
print("랜덤 리스트:", a)

max_value = max(a)  # max 대신 다른 변수명 사용
min_value = min(a)

print("최댓값:", max_value)
print("최솟값:", min_value)

랜덤 리스트: [67, 57, 100, 68, 14, 53, 43, 98, 49, 82]

TypeError: 'int' object is not callable

In [137]:
a = []
for i in range(1, 102):
    
    a.append(0)
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
b = []
n = int(input("10진수: "))  # 사용자로부터 10진수 입력 받기
while n != 0:  # n이 0이 아닐 때까지 반복
    b.append(n % 2)  # n을 2로 나눈 나머지를 리스트에 추가 (2진수의 각 자릿수)
    n = n // 2  # n을 2로 나눈 몫으로 업데이트

# 이진수 출력 (뒤집어서 출력해야 하므로, 리스트의 마지막부터 처음까지 출력)
for i in range(len(b) - 1, -1, -1):
    print(b[i], end=" ")  # 이진수를 공백으로 구분해서 출력

IndexError: list index out of range

In [142]:
b = []
n = int(input("10진수: "))  # 사용자로부터 10진수 입력 받기
while n != 0:  # n이 0이 아닐 때까지 반복
    b.append(n % 16)  # n을 2로 나눈 나머지를 리스트에 추가 (2진수의 각 자릿수)
    n = n // 16  # n을 2로 나눈 몫으로 업데이트

# 이진수 출력 (뒤집어서 출력해야 하므로, 리스트의 마지막부터 처음까지 출력)
for i in range(len(b) - 1, -1, -1):
    print(b[i], end=" ")  # 이진수를 공백으로 구분해서 출력

2 1

In [143]:
b=[1,1,1,1,0]
n=0
for i in range(0,5):
    n=n+b[i]*(2**(4-i))
print(n)

30

In [ ]:
b=[1,4,3,5]
n=0
for i in range(0,5):
    n=n+b[i]*(2**(4-i))
print(n)

In [152]:
a=[11,22,33,44,55,66,77,88,99,00]
key=int(input())
cnt=0
while   cnt<10:
    if  key == a[cnt]:
        print("탐색성공", cnt+1)
        break
    cnt=cnt+1
if cnt ==10:
    print("탐색 실패패")

탐색성공 10

In [156]:
a = [11, 18, 26, 27, 39, 57, 63, 75, 76, 80]  # 정렬된 배열
key = int(input("키 : "))  # 찾고자 하는 값 입력 받기
low = 0  # 배열의 첫 번째 인덱스
high = 9  # 배열의 마지막 인덱스

while low <= high:
    mid = (low + high) // 2  # 중간 인덱스 계산

    if key == a[mid]:  # key가 중간값과 같으면
        print(mid, "에서 탐색 성공")
        break  # 탐색 성공, 종료
    elif key < a[mid]:  # key가 중간값보다 작으면
        high = mid - 1  # 탐색 범위를 왼쪽 절반으로 좁힘
    else:  # key가 중간값보다 크면
        low = mid + 1  # 탐색 범위를 오른쪽 절반으로 좁힘

if low > high:  # 탐색 범위가 끝까지 왔을 때
    print("탐색 실패")  # 찾지 못한 경우

6 에서 탐색 성공

In [160]:
def hello():
    print("안녕")
hello()

안녕

In [168]:
def hello(name):
    print("안녕",name)

hello("name")

안녕 name

In [169]:
def power(a,b):
    c =a**b
    return c
a = power(5,3)
print(a)

125

In [177]:
hello(a)
print("안녕",a)

hello("파이썬")

안녕 125
안녕 125
안녕 파이썬

In [181]:
def func(a,b):     
    if a>b:
         
        return a
    else:
        return b
a = int(input("정수: "))
b = int(input("정수: "))
r = func(a, b)
print(r)
print(a)
print(b)

55
33
55

In [183]:
def func(a,b):     
    if a<b:
         
        return a
    else:
        return b
a = int(input("정수: "))
b = int(input("정수: "))
r = func(a, b)
print(r)
print(a)
print(b)

3
3
5

In [185]:
def func(a,b,c):
    if a>b:
        if a>c:
            return a
        else: 
            return c
    else:
        if b>c:
            return b
        else:
            return c
a = int(input("정수: "))
b = int(input("정수: "))
c = int(input("정수: "))

r=(a,b,c)
print(r)
func(a,b,c)

(33, 44, 55)

55

In [187]:
def func(a):
    # a의 약수를 출력하는 함수
    for i in range(1, a+1):  # 1부터 a까지 반복
        if a % i == 0:  # a가 i로 나누어 떨어지면
            print(i, end=" ")  # i를 출력

for i in range(1, 11):  # 1부터 10까지 반복
    print(i, ":", end=" ")  # 숫자 출력
    func(i)  # i에 대해 약수를 출력하는 함수 호출
    print()  # 줄바꿈

1 : 1
2 : 1 2
3 : 1 3
4 : 1 2 4
5 : 1 5
6 : 1 2 3 6
7 : 1 7
8 : 1 2 4 8
9 : 1 3 9
10 : 1 2 5 10